<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><img src="http://raceforlife.cancerresearchuk.org/wcm/assets/img/brand/Logo_RFL.png"/></h1>
        <p>Help	beat	cancer	sooner.	With	your	creativity	and	innovation,	Race	for	Life	can	reach	new	goals	and	
save	more	lives!</p>
        <p><a class="btn btn-primary btn-lg" href="#/search" role="button">Search a race</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is Race for Life?</h2>
          <p>Cancer Research UK’s Race for Life is a series of 5k and 10k women-only fundraising events, which are raising money for research so that we will beat all 200 types of cancer sooner.</p>
          <p><a class="btn btn-default" href="http://raceforlife.cancerresearchuk.org/types-of-event/index.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Return your sponsorship</h2>
          <p>Thank you so much for taking part this year. Our events are now all over for 2014, but if you've completed your event and you weren't using a JustGiving page then please make sure to send your money back to us as soon as possible. </p>
          <p><a class="btn btn-default" href="http://raceforlife.cancerresearchuk.org/raise-money/return-your-sponsorship/index.html" role="button">View details &raquo;</a></p>
       </div>
        
      </div>
      
      