<div class="jumbotron">
  <form ng-submit="createAccount(user)" name="createForm" class="form-horizontal ng-pristine ng-valid">
    <h2 class="form-signin-heading"></h2>
    <div class="form-group">
      <label for="userFirstName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input id="userFirstName" type="text" class="form-control ng-pristine ng-valid" placeholder="Firstname Lastname" ng-model="user.firstname" autofocus="">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input id="userEmail" type="text" class="form-control ng-pristine ng-valid" placeholder="Email" ng-model="user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="userEventName" class="col-sm-2 control-label">Event</label>
      <div class="col-sm-10">
        <input id="userFirstName" type="text" class="form-control ng-pristine ng-valid" ng-model="eventName" autofocus="">
      </div>
    </div>
    <div class="form-group">
      <label for="userEventName" class="col-sm-2 control-label">Price</label>
        <span class="glyphicon glyphicon-gbp"></span>14.99
      
    </div>
    <div class="form-group">
        Send marketing information
        <input type="checkbox" ng-model="value1">
    </div>
    <img alt="Visa Checkout" class="v-button" role="button" 
src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
<script type="text/javascript" 
src="https://sandbox-assets.secure.checkout.visa.com/checkout-widget/resources/js/integration/v1/sdk.js">
</script>
<script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=L8LYTQDG4MMGU" 
   data-button="buynow" 
   data-name="Race Registration" 
   data-amount="14.99" 
   data-currency="GBP" 
   data-shipping="0.00" 
   data-tax="0.00" 
   data-callback="http://www.cruk1.org/signup-completed.html" 
   data-env="sandbox"
></script>
<script type='text/javascript'>
 window.onAmazonLoginReady = function() {
   amazon.Login.setClientId('amzn1.application-oa2-client.d621d0f965154d75a2f1479f1ca8b656');
 };
</script>
<script type='text/javascript'
 src='https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js'>
</script>
    
    <br>
<!--    <div class="form-group">
      <div class="col-sm-2 control-label">
      </div>
      <div class="col-sm-10">
        <button class="btn btn-success" type="submit">Complete My Account</button>
      </div>
    </div>-->
</form>
</div>